<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Geo</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-brand">Sistema Geo</a>
        </div>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="mt-1 mb-1">Registra tu ubicación</h2>
            </div>
            <div class="card-body">
                <form id="form" class="form-group">
                    <div class="mb-3">
                        <label for="nombre">Tu nombre:</label>
                        <input id="nombre" placeholder="Ingresa tu nombre" class="mb-3">
                    </div>
                    <button type="submit" class="btn">Enviar ubicación</button>
                </form>
                <div id="status-message" class="mt-3"></div>
            </div>
        </div>
    </div>
    
    <script src="/static/js/user.js"></script>
</body>
</html>
